{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block banner-slider %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "app/images/banner/b1.jpg" %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item ">
        <img src="{% static "app/images/banner/b2.jpg" %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item ">
        <img src="{% static "app/images/banner/b3.jpg" %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item ">
        <img src="{% static "app/images/banner/b4.jpg" %}" class="d-block w-100" alt="banner image">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock banner-slider %}

{% block information %}
<div class="container">
    <div class=" row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class= "fs-5"> 
            Harsh offers a wide range of products in both liquid milk and by-product catergories. The liquid milk comprises of 5 types of variants and the by-product comprises of 14 types of variants.
            Harsh offers a wide range of milk products comprising of Fresh Milk, Butter, Ghee, Paneer, Curd, Flavoured Milk, Doodh Peda, Ice Cream and Skimmed Milk Powder.
        </small>
    </div>
</div>
{% endblock information %}

{% block main-content %}
    <div class="container">
        <h2 class="text-center"> Dairy Products </h2>
    </div>
    <br/><br/>
    <div class=" row container">
        <div class= " col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"; data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none";>
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url "category" 'GH' %}">
                    <div class=" goodnessseccont text-center">
                        <img src="{% static 'app/images/product/buffalo-ghee.png'%}" class="img-responsive"  alt="">
                        <p class="mlkpro">Ghee</p>
                    </div>
                </a>
            </div>
        </div>

        <div class= " col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"; data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none";>
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url "category" 'CR' %}">
                    <div class=" goodnessseccont text-center">
                        <img src="{% static 'app/images/product/curd-total.png'%}" class="img-responsive"  alt="">
                        <p class="mlkpro">CURD</p>
                    </div>
                </a>
            </div>
        </div>

        <div class= " col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"; data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none";>
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url "category" 'CZ' %}">
                    <div class=" goodnessseccont text-center">
                        <img src="{% static 'app/images/product/processedcheese.png'%}" class="img-responsive"  alt="">
                        <p class="mlkpro">CHEESE</p>
                    </div>
                </a>
            </div>
        </div>

        <div class= " col-md-4 col-sm-4 mt-2 mi-go wow fadeInUp" data-wow-duration="1s"; data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none";>
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url "category" 'IC' %}">
                    <div class=" goodnessseccont text-center">
                        <img src="{% static 'app/images/product/kulfi.png'%}" class="img-responsive"  alt="">
                        <p class="mlkpro">KULFI</p>
                    </div>
                </a>
            </div>
        </div>


        <div class= " col-md-4 col-sm-4 mt-2 mi-go wow fadeInUp" data-wow-duration="1s"; data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none";>
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url "category" 'MS' %}">
                    <div class=" goodnessseccont text-center">
                        <img src="{% static 'app/images/product/milk-shake-chocolate.png'%}" class="img-responsive"  alt="">
                        <p class="mlkpro">MILKSHAKES</p>
                    </div>
                </a>
            </div>
        </div>


        <div class= " col-md-4 col-sm-4 mt-2 mi-go wow fadeInUp" data-wow-duration="1s"; data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none";>
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url "category" 'LS' %}">
                    <div class=" goodnessseccont text-center">
                        <img src="{% static 'app/images/product/sweet-lassi.png'%}" class="img-responsive"  alt="">
                        <p class="mlkpro">LASSI</p>
                    </div>
                </a>
            </div>
        </div>

        <div class= " col-md-4 col-sm-4 mt-2 mi-go wow fadeInUp" data-wow-duration="1s"; data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none";>
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url "category" 'PN' %}">
                    <div class=" goodnessseccont text-center">
                        <img src="{% static 'app/images/product/paneer-lite.png'%}" class="img-responsive"  alt="">
                        <p class="mlkpro">PANEER</p>
                    </div>
                </a>
            </div>
        </div>


        <div class= " col-md-4 col-sm-4 mt-2 mi-go wow fadeInUp" data-wow-duration="1s"; data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none";>
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url "category" 'ML' %}">
                    <div class=" goodnessseccont text-center">
                        <img src="{% static 'app/images/product/tonemilk.png'%}" class="img-responsive"  alt="">
                        <p class="mlkpro">MILK</p>
                    </div>
                </a>
            </div>
        </div>







    </div>
    <br/><br/>
{% endblock main-content %}